*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
}

/* Header e Nav */

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-logo{
    width: 100%;
    display: flex;
}


.content {
    width: 90%;
    font-weight: bold;
    text-align: justify;
}

.container h1{
    text-align: center;
}

.content h4 {
    text-align: center;

}